{"openapi":"3.0.0","info":{"title":"Spectra SDK API","version":"1.0.0","description":"Public API documentation for Spectra Protocol SDK"},"servers":[{"url":"https://api.spectra.finance","description":"Production"}],"components":{"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"Enter your bearer token"}}},"security":[{"bearerAuth":[]}],"paths":{"/api-docs":{"get":{"summary":"Get OpenAPI specification","description":"Returns the OpenAPI specification for the API. Internal routes are only shown when authenticated.","tags":["Documentation"],"security":[{"bearerAuth":[]}],"parameters":[{"in":"header","name":"Authorization","required":false,"schema":{"type":"string"},"description":"Bearer token for accessing internal routes (optional)","example":"Bearer your_token_here"}],"responses":{"200":{"description":"OpenAPI specification","content":{"application/json":{"schema":{"type":"object"}}}}}}},"/health":{"get":{"summary":"Health check endpoint","description":"Returns the health status of the Spectra SDK service","tags":["Health"],"responses":{"200":{"description":"Service is healthy","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"string","example":"healthy"},"service":{"type":"string","example":"spectra-sdk"},"version":{"type":"string","example":"1.0.0"},"timestamp":{"type":"string","format":"date-time"},"uptime":{"type":"number","example":12345.67}}}}}}}}},"/v1/{network}/metavaults/bridge/transactions":{"get":{"description":"Returns all bridge transactions for metavaults on a specific network","tags":["Metavaults","Bridge"],"parameters":[{"name":"network","in":"path","required":true,"description":"The network to fetch bridge transactions for","schema":{"type":"string"}},{"name":"refresh","in":"query","required":false,"description":"Force refresh the cache","schema":{"type":"boolean"}}],"responses":{"200":{"description":"The bridge transactions grouped by metavault address and chainId","content":{"application/json":{"schema":{"type":"object","additionalProperties":{"type":"object","properties":{"transactions":{"type":"array","items":{"type":"object"}},"totalBridgedUsdLast30d":{"type":"number"},"totalInFlightUsd":{"type":"number"},"totalPendingUsd":{"type":"number"}}}}}}}}}},"/v1/{network}/metavaults":{"get":{"description":"Returns all metavaults for a specific network","tags":["Metavaults"],"parameters":[{"name":"network","in":"path","required":true,"description":"The network to fetch metavaults for","schema":{"type":"string"}}],"responses":{"200":{"description":"The list of metavaults on the network","content":{"application/json":{"schema":{"type":"array","items":{"type":"object"}},"example":[{"address":"0x0169ba21e6b5e0f9bea75acbbd1acaa75d60efe4","vault":"0x3006451e6bccbf1bda5deb09ee29cbfe05a1ac1a","chainId":8453,"name":"Spectra-MetaVault","symbol":"SMV","decimals":6,"curator":{"name":"MEV Capital","addresses":["0x3f2edd2AEaA3aF225D23b225bAf8CCEB900AF7d8"]},"underlying":{"address":"0x833589fcd6edb6e08f4c7c32d4f71b54bda02913","symbol":"USDC","decimals":6,"price":{"usd":0.999858682720936}},"metadata":{"title":"MEV USDC","shortDescription":"Get the best risk adjusted USDC yield"},"positions":[{"address":"0x63948fb5d91f8863f7ea30ce3ba7e281983b7f03","symbol":"PT-sw-smUSDC-1764115208","maturity":1764115208,"tvl":{"underlying":6336.955418,"usd":6336.05989670278},"pools":[{"address":"0x6a8f70e13cdbb1603c5b8c6f414ac7da4096a185","ptApy":6.8515481963273,"lpApy":{"total":6.39118960728796}}]}],"epochs":[{"timestamp":1760009459,"rate":"1000000","assets":"1000010"}],"tvl":{"underlying":10.9718245932344,"usd":10.9702740848365},"liveApy":{"total":6.23493039693365},"exchangeRate":"1000000","price":{"underlying":1,"usd":0.999858682720936}}]}}}}}},"/v1/{network}/pools/{curvePoolAddress}/activity":{"get":{"description":"Returns historical trading activity for a specific pool with USD values","tags":["Pools"],"parameters":[{"name":"network","in":"path","required":true,"description":"The network to fetch pool activity for","schema":{"type":"string"}},{"name":"curvePoolAddress","in":"path","required":true,"description":"The curve pool contract address","schema":{"type":"string"}}],"responses":{"200":{"description":"List of historical pool transactions with USD values","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"hash":{"type":"string","description":"Transaction hash"},"timestamp":{"type":"number","description":"Transaction timestamp (Unix timestamp)"},"valueUsd":{"type":"number","description":"USD value of the transaction at the time it occurred"},"type":{"type":"string","description":"Type of transaction","enum":["BUY_PT","SELL_PT","DEPOSIT","WITHDRAW","REDEEM"]}}}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","enum":["Invalid chain ID or underlying asset address"]}}}}}}}}},"/v1/{network}/pools/{curvePoolAddress}/volume":{"get":{"description":"Returns historical trading volume data for a specific pool with buy/sell volumes in USD","tags":["Pools"],"parameters":[{"name":"network","in":"path","required":true,"description":"The network to fetch pool volume data for","schema":{"type":"string"}},{"name":"curvePoolAddress","in":"path","required":true,"description":"The curve pool contract address","schema":{"type":"string"}}],"responses":{"200":{"description":"Historical trading volume data with buy/sell volumes in USD","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"timestamp":{"type":"number","description":"Unix timestamp for the volume data point"},"buyUsd":{"type":"number","description":"Buy volume in USD for this time period"},"sellUsd":{"type":"number","description":"Sell volume in USD for this time period"}}}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","enum":["Invalid chain ID or underlying asset address"]}}}}}}}}},"/v1/{network}/pools":{"get":{"description":"Returns all pools with their associated PT/YT/LP for a specific network","tags":["Pools"],"parameters":[{"name":"network","in":"path","required":true,"description":"The network to fetch pools for","schema":{"type":"string"}}],"responses":{"200":{"description":"The list of currently active pools on the network","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"pt":{"type":"object","description":"PT information"},"address":{"type":"string","description":"Pool contract address"},"chainId":{"type":"number","description":"Blockchain network chain ID"},"lpt":{"type":"object","description":"Liquidity pool token information with supply and price","properties":{"supply":{"type":"string","description":"Total supply of LP tokens"},"price":{"type":"object","description":"Price information"}}},"liquidity":{"type":"object","description":"Total liquidity in the pool"},"ibtToPt":{"type":"string","nullable":true,"description":"Exchange rate from IBT to PT"},"ptToIbt":{"type":"string","nullable":true,"description":"Exchange rate from PT to IBT"},"ptPrice":{"type":"object","description":"Principal Token price"},"ytPrice":{"type":"object","description":"Yield Token price"},"impliedApy":{"type":"number","description":"Implied Annual Percentage Yield"},"ptApy":{"type":"number","description":"Principal Token APY"},"ytLeverage":{"type":"number","description":"Yield Token leverage multiplier"},"lpApy":{"type":"object","description":"Liquidity Provider APY breakdown","properties":{"total":{"type":"number","description":"Total APY for LP"},"boostedTotal":{"type":"number","description":"Boosted total APY (optional)"},"details":{"type":"object","description":"Detailed APY breakdown","properties":{"fees":{"type":"number","description":"APY from trading fees"},"pt":{"type":"number","description":"APY from PT component"},"ibt":{"type":"number","description":"APY from IBT component"},"rewards":{"type":"object","description":"APY from reward tokens"},"boostedRewards":{"type":"object","description":"Boosted reward APY ranges"}}}}},"ibtAmount":{"type":"string","description":"Amount of IBT in the pool"},"ptAmount":{"type":"string","description":"Amount of PT in the pool"},"feeRate":{"type":"string","description":"Pool fee rate"},"outFee":{"type":"string","description":"Output fee"},"midFee":{"type":"string","description":"Mid-price fee"},"spotPrice":{"type":"string","nullable":true,"description":"Current spot price"},"lastPrices":{"type":"string","description":"Last recorded prices"},"type":{"type":"string","enum":["CURVE","CURVE_SNG"],"description":"Pool type (AMM curve type)"}}}}}}}}}},"/v1/{network}/portfolio/{address}":{"get":{"description":"Returns the portfolio (positions) for a specific address on a specific network","tags":["Portfolio"],"parameters":[{"name":"network","in":"path","required":true,"description":"The network to fetch portfolio for","schema":{"type":"string"}},{"name":"address","in":"path","required":true,"description":"The wallet address to fetch portfolio for","schema":{"type":"string"}}],"responses":{"200":{"description":"The user's portfolio containing their positions across different PTs/YTs and their associated pools","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"address":{"type":"string","description":"Future contract address"},"name":{"type":"string","description":"Future token name"},"symbol":{"type":"string","description":"Future token symbol"},"decimals":{"type":"number","description":"Token decimals"},"chainId":{"type":"number","description":"Blockchain network chain ID"},"rate":{"type":"string","description":"Current exchange rate"},"balance":{"type":"string","nullable":true,"description":"PT balance of the user"},"yt":{"type":"object","description":"Yield Token information","properties":{"address":{"type":"string","description":"YT contract address"},"decimals":{"type":"number","description":"YT decimals"},"chainId":{"type":"number","description":"Chain ID"},"balance":{"type":"string","nullable":true,"description":"YT balance of the user"},"yield":{"type":"object","nullable":true,"description":"Yield information","properties":{"claimable":{"type":"string","nullable":true,"description":"Claimable yield amount"},"claimed":{"type":"string","nullable":true,"description":"Already claimed yield amount"}}}}},"ibt":{"type":"object","description":"Interest Bearing Token information","properties":{"address":{"type":"string","description":"IBT contract address"},"name":{"type":"string","description":"IBT name"},"symbol":{"type":"string","description":"IBT symbol"},"decimals":{"type":"number","description":"IBT decimals"},"chainId":{"type":"number","description":"Chain ID"},"rate":{"type":"string","description":"IBT rate"},"apr":{"type":"object","description":"APR information","properties":{"total":{"type":"number","description":"Total APR"},"details":{"type":"object","properties":{"base":{"type":"number","description":"Base APR"},"rewards":{"type":"object","description":"Rewards breakdown"}}}}},"price":{"type":"object","description":"IBT price information","properties":{"underlying":{"type":"number","description":"Price in underlying terms"},"usd":{"type":"number","nullable":true,"description":"Price in USD"}}},"protocol":{"type":"string","nullable":true,"description":"Protocol name"},"balance":{"type":"string","nullable":true,"description":"IBT balance of the user"}}},"underlying":{"type":"object","description":"Underlying token information","properties":{"address":{"type":"string","description":"Underlying token address"},"name":{"type":"string","description":"Underlying token name"},"symbol":{"type":"string","description":"Underlying token symbol"},"decimals":{"type":"number","description":"Underlying token decimals"},"chainId":{"type":"number","description":"Chain ID"},"price":{"type":"object","description":"Underlying token price","properties":{"usd":{"type":"number","nullable":true,"description":"Price in USD"}}},"balance":{"type":"string","nullable":true,"description":"Underlying balance of the user"}}},"maturity":{"type":"number","description":"Future maturity timestamp"},"maturityValue":{"type":"object","nullable":true,"description":"Value at maturity","properties":{"underlying":{"type":"number","description":"Value in underlying terms"},"usd":{"type":"number","nullable":true,"description":"Value in USD"}}},"createdAt":{"type":"number","description":"Creation timestamp","items":{"type":"object","properties":{"amount":{"type":"number","nullable":true,"description":"Multiplier amount"},"name":{"type":"string","description":"Multiplier name"}}}},"pools":{"type":"array","description":"Associated pools where user has LP positions","items":{"type":"object","properties":{"address":{"type":"string","description":"Pool contract address"},"chainId":{"type":"number","description":"Chain ID"},"lpt":{"type":"object","description":"LP token information","properties":{"address":{"type":"string","description":"LP token address"},"decimals":{"type":"number","description":"LP token decimals"},"chainId":{"type":"number","description":"Chain ID"},"supply":{"type":"string","description":"Total LP token supply"},"price":{"type":"object","description":"LP token price"},"balance":{"type":"string","nullable":true,"description":"User's LP token balance"}}},"liquidity":{"type":"object","description":"Pool liquidity information"},"ibtToPt":{"type":"string","nullable":true,"description":"Exchange rate from IBT to PT"},"ptToIbt":{"type":"string","nullable":true,"description":"Exchange rate from PT to IBT"},"ptPrice":{"type":"object","description":"PT price in the pool"},"ytPrice":{"type":"object","description":"YT price in the pool"},"impliedApy":{"type":"number","description":"Implied APY from the pool"},"ptApy":{"type":"number","description":"PT APY"},"ytLeverage":{"type":"number","description":"YT leverage multiplier"},"lpApy":{"type":"object","description":"LP APY breakdown","properties":{"total":{"type":"number","description":"Total LP APY"},"boostedTotal":{"type":"number","nullable":true,"description":"Boosted total APY"},"details":{"type":"object","description":"APY breakdown details"}}},"ibtAmount":{"type":"string","description":"IBT amount in pool"},"ptAmount":{"type":"string","description":"PT amount in pool"},"feeRate":{"type":"string","description":"Pool fee rate"},"outFee":{"type":"string","description":"Output fee"},"midFee":{"type":"string","description":"Mid-price fee"},"spotPrice":{"type":"string","nullable":true,"description":"Current spot price"},"lastPrices":{"type":"string","description":"Last recorded prices"},"type":{"type":"string","enum":["CURVE","CURVE_SNG"],"description":"Pool AMM type"}}}}}}}}}}}}},"/v1/watch-tower/{network}/transactions":{"get":{"description":"Returns all watch tower transactions (conditional orders) for a specific network","tags":["Watch Tower"],"parameters":[{"name":"network","in":"path","required":true,"description":"The network to fetch watch tower transactions for","schema":{"type":"string"}},{"name":"owner","in":"query","required":false,"description":"Optional owner address to filter transactions by","schema":{"type":"string","pattern":"^0x[a-fA-F0-9]{40}$"}}],"responses":{"200":{"description":"The watch tower transactions","content":{"application/json":{"schema":{"type":"object","properties":{"network":{"type":"string"},"totalTransactions":{"type":"number"},"transactions":{"type":"array","items":{"type":"object","properties":{"owner":{"type":"string"},"conditionalOrder":{"type":"object","properties":{"id":{"type":"string"},"tx":{"type":"string"},"params":{"type":"object"},"proof":{"type":"object"},"composableCow":{"type":"string"},"orders":{"type":"array","items":{"type":"object","properties":{"orderUid":{"type":"string"},"status":{"type":"string","enum":["SUBMITTED","FILLED","UNKNOWN"]}}}},"pollResult":{"type":"object","nullable":true,"properties":{"lastExecutionTimestamp":{"type":"number"},"blockNumber":{"type":"number"},"result":{"type":"object"}}}}}}}}}}}}}}}},"/v1/spectra/circulating-supply":{"get":{"description":"Returns the circulating supply of SPECTRA tokens","tags":["Spectra Token"],"responses":{"200":{"description":"The circulating supply of SPECTRA tokens","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/v1/spectra/total-supply":{"get":{"description":"Returns the total supply of SPECTRA tokens","tags":["Spectra Token"],"responses":{"200":{"description":"The total supply of SPECTRA tokens","content":{"application/json":{"schema":{"type":"string"}}}}}}},"/v1/vision/{network}":{"get":{"summary":"Get latest APRs for a given network","description":"Returns the latest APRs for a given network","tags":["Vision"],"parameters":[{"in":"path","name":"network","required":true,"schema":{"type":"string"},"description":"The network to get APRs for (e.g. mainnet, base)"},{"in":"query","name":"tokens","required":true,"schema":{"type":"string"},"description":"Comma-separated list of token addresses to get APRs for"}],"responses":{"200":{"description":"Latest APRs","content":{"application/json":{"schema":{"type":"object","properties":{"apr":{"type":"object","properties":{"[ tokenAddress ]":{"type":"string","description":"The latest APR for the given token"},"timestamp":{"type":"string","description":"The timestamp of the latest APR"}}}},"example":{"0xad55aebc9b8c03fc43cd9f62260391c13c23e7c0":"3.796"}}}}},"400":{"description":"Invalid network or missing tokens","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}},"500":{"description":"Server error","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"}}}}}}}}}},"tags":[]}